venv/
.env
.venv
__pycache__/*.pyc
.DS_Store
new_test/
team_test/
__pycache__/
data/

# PERM output files
perm/perm_db.csv
perm/*.csv
perm/*.parquet
perm/data/

# LCA output files
lca/lca_db.csv
lca/lca_clean.csv